<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.sokolvault13.turtlesway"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
            <!--android:name=".TestGarbage"-->
            <!--android:finishOnTaskLaunch="true"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name="io.sokolvault13.turtlesway.presenters.biggoalslist.BigGoalsListActivity"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.sokolvault13.turtlesway.presenters.biggoalcreation.BigGoalCreationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="io.sokolvault13.turtlesway.presenters.subgoalslist.SubGoalsListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.sokolvault13.turtlesway.presenters.biggoalslist.BigGoalsListActivity"/>
        </activity>
        <activity
            android:name=".presenters.subgoalcreation.SubGoalCreationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>